h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    font-size: larger;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;

}
.container {
  height: 50px;
  display: flex;
  border: 5px solid black;

  justify-content: space-around;
  align-items: center;
  background-color: rgb(171, 213, 171);
}
.menu-items-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-items-container li {
  list-style: none;
}
.menu-items-container li a {
  text-decoration: none;
  color: black;
}
.button-section {
  background-color: rgb(82, 10, 10);
  color: black;
}
.button-section button{
    background-color: rgb(101, 17, 17)
    color:black
}
